In [1]:
import requests
import config
import json
import pandas as pd
#from requests.auth import HTTPBasicAuth

username = 'KseniaBuk'
api_username = config.username
password = config.password 

url = f'https://api.ravelry.com/people/{username}/favorites/list.json'
print(url)

https://api.ravelry.com/people/KseniaBuk/favorites/list.json

In [2]:
payload = {
    'page': str(1),
    'page_size': 25
}
response = requests.get(url, params=payload, auth=(api_username, password))

In [24]:
if response.status_code == 200:
    data = response.json()

pages = data['paginator']['page_count']
favorites = data.get('favorites', [])
favorites_trunc = []

for f in favorites:
    fn = {
        'name' : f['favorited']['name'], 
        'created_at' : f['created_at'], 
        'id' : f['id'],
        'page' : data['paginator']['page_count']
    }
    favorites_trunc.append(fn)

In [25]:
for i in range(2, pages): # replace with paginator number later
    payload = {
        'page': str(i),
        'page_size': 25
    }
    response = requests.get(url, params=payload, auth=(api_username, password))
    data = response.json()
    favorites = data.get('favorites', [])
    for f in favorites:
        fn = {
            'name' : f['favorited']['name'], 
            'created_at' : f['created_at'], 
            'id' : f['favorited']['id'],
            'page' : data['paginator']['page_count']
        }
        favorites_trunc.append(fn)

In [26]:
favorites_df = pd.json_normalize(favorites_trunc)
favorites_df.sort_values('created_at', ascending = False).head(10)

                        name                 created_at       id  page
25          H채llevik - skirt  2025/06/21 19:35:09 -0400  7319055    10
26         H채llevik - blouse  2025/06/21 19:34:58 -0400  7319005    10
27    Noosa One Shoulder Top  2025/06/20 10:18:48 -0400  7440103    10
28               Dust Devils  2025/06/19 15:38:22 -0400  1117620    10
29    Straight Ahead Mittens  2025/06/19 15:31:33 -0400  7306830    10
30        Scottish Highlands  2025/06/17 14:38:00 -0400   750053    10
31  Unicorn Tapestry Sweater  2025/06/09 18:22:10 -0400  7402769    10
32            Milano Sweater  2025/06/06 01:09:59 -0400  7412303    10
33           EASYPEASY Scarf  2025/06/04 12:43:53 -0400  1286862    10
34             Easy Triangle  2025/06/03 22:11:29 -0400  1289100    10